:root {
  --border-blue: #0265d2;
  --main-bck-color: #262626;
  --left-bck-color: #212121;
}
/* Default variables */
.main {
  background-color: var(--main-bck-color);
}

p {
  color: rgb(166, 166, 166);
  font-size: 12px;
  margin-bottom: 0;
}

h1 {
  font-size: 24px;
}

h6 {
  font-size: 15px;
  margin-bottom: 3px;
}

.leftside {
  background-color: var(--left-bck-color);
  padding: 32px 32px 64px 32px;
}
.button {
  border: 1px solid #303030;
  transition: 0.4s ease-in-out;
}
.button:hover {
  background-color: #303030;
}
button span {
  font-size: 12px;
}
button img {
  width: 16px;
  height: 16px;
}
#nextBtn,
#cancelBtn {
  border: 1px solid #303030;
  border-radius: 8px;
}
#nextBtn span,
#cancelBtn span {
  padding: 0px 12px;
  font-size: 12px;
  color: white;
}
#nextBtn {
  background-color: #ff6c37;
}
#cancelBtn {
  background-color: #303030;
}
#active {
  border-color: #0265d2 !important;
}
.disabled {
  opacity: 0.7;
}
#name {
  border: 1px solid rgb(107, 107, 107);
  padding: 8px 0px 8px 12px;
  font-size: 12px !important;
}

label {
  font-size: 12px;
}

#step2Buttons button:first-child{
  background-color: rgb(107, 107, 107);
}
#step2Buttons button:last-child{
  background-color: #ff6c37;
}
.internalAcses #everone{
  font-size: 4px;
  font-weight: bold;
}
#typeBtn:hover{
  opacity: 0.9;
}

.fs-7{
  font-size: 0.75rem;
}
/* Media query's */
@media (max-width: 876px) {
  .rightside {
    display: none !important;
  }
  .leftside {
    width: 100% !important;
  }
}
