p.desc {
  color: rgb(107, 107, 107);
}
.createCollectionButton {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-color: #8f8f8f;
}

#collectDesc {
  font-size: 12px !important;
}
.accordion-button {
  color: white !important;
}
.otherMenu {
  position: relative;
}

.dropdown-Content {
  position: absolute;
  background-color: #f9f9f9;
  left: 25%;
  /* 
  min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-Content a {
  font-size: 15px;
}

.request-item {
  font-size: 14px !important;
  color: white;
  padding: 10px;
  border: 1px solid #303030;
  margin-bottom: 5px;
}

.folder-item {
  font-size: 14px !important;
  padding: 10px;
  color: white;
  background-color: #303030;
}

.accordion-collapse {
  padding: 0 !important;
  height: 580px !important;
  overflow-y: scroll;
}
.dropdown-menu {
  background-color: #212121;
}
.dropdown-menu li a:hover {
  background-color: #8f8f8f !important;
}
.paramKey::placeholder,
.paramValue::placeholder {
  color: white;
}
/* .collectionNewButton{
  position: relative;
}
.collectionNewButton .hoverElements{
  position: absolute;
  top: 0;
  left: 0;
} */

p.gray {
  color: rgb(166, 166, 166) !important;
}

#inviteBtn {
  background-color: rgb(255, 108, 55);
}
.shareCollectionInput {
  position: relative;
}
/* .shareCollectionInput input {
  width: 80% !important;
} */
.shareCollectionInput .copyBtn {
  position: absolute;
  top: -35px;
  left: 93%;
}
#copyBtn {
  position: relative;
}
#copyBtn::after {
  content: attr(data-tooltip);
  position: absolute !important;
  top: -30px !important;
  left: 10px;
  transform: translateX(-50%);
  background-color: #212121;
  color: white;
  padding: 4px 8px;
  opacity: 0;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
#copyBtn.show-tooltip::after {
  opacity: 1;
}
.btn-close {
  filter: invert(1);
}
